<h1>Random Winner Generator</h1>
<h3>Enter some names, and hit the 'Draw a Winner' button - who will be the lucky one!?</h3>
<h4>(or unlucky one...)</h4>

<div ng-controller="RaffleCtrl">
  <form ng-submit="addEntry()">
    <input type="text" ng-model="newEntry.name">
    <input type="submit" value="Add">
  </form>
<div class="center">
  
  <ul>
    <li ng-repeat="entry in entries">
      {{entry.name}}
      <span ng-show="entry.winner" ng-class="{highlight: entry == lastWinner}" class="winner">WINNER</span>
    </li>
  </ul>
  
 <div class="click">
    <button ng-click="drawWinner()">Draw a Winner!</button>
  </div>
</div>
</div>