*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  /*font: 12px/15px sans-serif;*/
  margin:50px 0px; padding:3px;
  text-align:center;
  background-color: #B8BFD4;
  color: #000;

  }

  #main, #container {
   width: 100%;
   margin: auto;
  }

header {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

.winner {
  color: red;
  
}


@media handheld {

	html, body {
		font: 12px/15px sans-serif;
		background: #fff;
		padding: 3px;
		color: #000;
		margin: 0;
		}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		}
	.center {
		width: 100% !important;
		text-align: center;
		}
	a:link, a:visited {
		text-decoration: underline;
		color: #0000CC;
		}
	a:hover, a:active {
		text-decoration: underline;
		color: #660066;
		}

}

@media only screen and (min-device-width: 413px) and (max-device-width: 415px) { iPhone6+ Styles }
@media only screen and (min-device-width: 374px) and (max-device-width: 376px) { iPhone6 Styles }
@media only screen and (min-device-width: 359px) and (max-device-width: 361px) { iPhone6+ Alt Styles }
@media only screen and (min-device-width: 319px) and (max-device-width: 321px) { iPhone5 or less Styles }
